/* 레이아웃 틀 */
html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: #f5f6f7;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
#logo {
    width: 240px;
    height: 44px;
    cursor: pointer;
}

/*top*/
header .wrapper {margin: 0 auto; margin-right: 45px;}
header .top {position: relative; left: 0; padding: 0;	width: 100%; height: 0px; padding-top: 0px;margin-left: 75px;}
header .top p {font-size: 15px; line-height: 25px;}
header .top p:hover {color:#F8733F;}
header .top-menu {display: inline;}
header .top-menu li {display: inline-block;}
header .top-menu .test {float:right; padding-right: 20px;}
header .top-menu .test a p {float: right;}
header .top-menu .test .test:hover p {color:#F8733F;}


/*footer*/
footer {padding: 80px 5 0; text-align: center; border-top: ;}
footer .sns li {display: inline-block; margin-right: 30px;}
footer ul li{font-size: 10px; line-height: 1.4;}
footer ul li .copyright {font-size: 10px; font-weight: 100; color:#888; display: block; margin-top:20px; padding-bottom: 20px; }
header .open {display: none;}
header .close {display: none;}

br.mo {display: none;}
@media screen and (max-width:2600px){
     .wrap {min-width: 100%;}
body .img1{width:50%; text-align:center; margin:0px auto;margin-top: 40px;}
body .img1 img{width:50%; height:auto;}
body .img2{width:50%; text-align:center; margin:0px auto;margin-top: 30px;}
body .img2 img{width:50%; height:auto;}
body .event4{margin: 0px auto; font-size: 14px;}
body .event5{margin: 0px auto; font-size: 14px;}
body .event6{margin: 0px auto; font-size: 14px;}
body .event7{margin: 0px auto; font-size: 14px;}
header .top {display: none;}
}
/*header*/
header {width: 100%; height: 120px; line-height: 120px; padding: 0 60px; box-sizing: border-box; position: fixed; top:0; z-index: 100; }
header.on {background: #fff;}
header nav {float: right;}
header nav .gnb li a:hover {color:#F8733F;}
header nav .gnb li {display: inline-block; margin-left: 45px;}
header nav .gnb li a {display: block; font-size: 18px; text-transform: uppercase; position: relative;}
header nav .gnb li a:after {content: ''; width: 0%;height: 1px; position: absolute;background: #F8733F; bottom: 47px; left: 50%; transform: translateX(-50%);transition: all 0.5s;}
header nav .gnb li a:hover:after, header nav .gnb li a:focus:after {width: 100%;}

#header_m {
    padding-top: 162px;
    padding-bottom: 20px;
    text-align: center;
    
}
#wrapper {
    position: relative;
    height: 100%;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}




/* 입력폼 */


h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}


.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

input {
    font-family: Dotum,'돋움',Helvetica,sans-serif;    
}

.box.int_id {
    padding-right: 110px;
}

.box.int_pass {
    padding-right: 40px;
}

.box.int_pass_check {
    padding-right: 40px;
}

.step_url {
    /*@naver.com*/
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    color: #8e8e8e;
}

.pswdImg {
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -10px;
    cursor: pointer;
}

#bir_wrap {
    display: table;
    width: 100%;
}

#bir_yy {
    display: table-cell;
    width: 147px;
    
}

#bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
}

#bir_dd {
    display: table-cell;
    width: 147px;
}

#bir_mm, #bir_dd {
    padding-left: 10px;
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

/* 에러메세지 */

.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;    
    display: none;
}

#alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}

/* 버튼 */

.btn_area {
    margin: 30px 0 91px;
}

#btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #F8733F;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

@media screen and (	max-width:320px){
   
     /*footer*/
    footer ul li {font-size: 10px;}
    footer .box  {padding: 50px 0;}
    footer .box.motion h2 {font-size: 14px;}  

header .top {display: none;}
}

