@charset "utf-8";

/* reset */
* {margin: 0;padding: 0;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}

/*layout*/
body {font-family: 'NanumSquare', sans-serif !important; font-size: 14px; color:#4e4e4e; line-height: 1.4;}
.wrap {width: 100%; min-width: 1100px; overflow: hidden;}

/*top*/
header .wrapper {margin: 0 auto; margin-right: 45px;}
header .top {position: relative; left: 0; padding: 0;	width: 100%; height: 0px; padding-top: 0px;margin-left: 75px;}
header .top p {font-size: 15px; line-height: 25px;}
header .top p:hover {color:#F8733F;}
header .top-menu {display: inline;}
header .top-menu li {display: inline-block;}
header .top-menu .test {float:right; padding-right: 20px;}
header .top-menu .test a p {float: right;}
header .top-menu .test .test:hover p {color:#F8733F;}

/*header*/
header {width: 100%; height: 120px; line-height: 120px; padding: 0 60px; box-sizing: border-box; position: fixed; top:0; z-index: 100; background-color: #fff;}
header.on {background: #fff;}
header .logo {display: block; font-size: 42px; font-weight: 900;letter-spacing: -6px; color: #F8733F; margin-left:-18px; float: left; }
header nav {float: right;}
header nav .gnb li a:hover {color:#F8733F;}
header nav .gnb li {display: inline-block; margin-left: 60px;}
header nav .gnb li a {display: block; font-size: 18px; text-transform: uppercase; position: relative; color:#333; text-decoration: none;}
header nav .gnb li a:after {content: ''; width: 0%;height: 1px; position: absolute;background: #F8733F; bottom: 47px; left: 50%; transform: translateX(-50%);transition: all 0.5s;}
header nav .gnb li a:hover:after, header nav .gnb li a:focus:after {width: 100%;}



html {scroll-behavior: smooth;}
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/*body*/
body .recipe{font-size: 26px; margin-top: 230px; text-align: center;}
.recipe .b-sel-btn{width:90px;padding:14px 10px;border:none; border-radius:30px; background-color:white;font-size:15px;color:#000;box-sizing:border-box;vertical-align:middle; outline: none}

body .early {margin-top: 46px;text-align: center; font-size: 16px; margin-left: 1350px;}
body .early ul li{display: inline-block;}
/*
body .early ul li a:hover {color:#F8733F;}
body .early ul li a:active {color:#F8733F;}
*/


 ul li iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.con {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.cell {
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.img-box > img {
    display: block;
    object-fit: cover;
    width: 100%;
}
/*커스텀*/
html,
body {
    overflow-x: hidden;
}
.con {
    max-width: 1500px;
}
.logo-bar {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bn-box {
    margin-bottom: 20px;
    margin-top: 20px;
}
@media ( max-width:700px ) {
    .top-bn-box-1 {
        overflow-x:hidden;
    }

    .top-bn-box-1 > .img-box {
        margin-left:-50%;
    }
}

.menu-box {
    margin-bottom: 20px;
    margin-top: 20px;
}
.menu-box > ul > li {
    width: calc(100% / 7);
}
@media (max-width: 800px) {
    .menu-box {
        display: none;
    }
}

.menu-box > ul > li > a {
    display: block;
    text-align: center;
    font-weight: bold;
    position: relative;
}
.menu-box > ul > li:hover > a {
    color: red;
    text-decoration: underline;
}
.menu-box > ul > li > a::before,
.menu-box > ul > li > a::after {
    content: "";
    width: 1px;
    height: 13px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 0;
}
.menu-box > ul > li > a::after {
    left: auto;
    right: 0;
}
.menu-box > ul > li:first-child > a::before,
.menu-box > ul > li:last-child > a::after {
    width: 2px;
}
.list > ul > li {
    width: calc(100% / 6);
}

.list > ul > li {
    padding: 0 10px;
}
.list > ul {
    margin: 0 -10px;
}

.list > ul > li > .product-name {
    text-align: Center;
    font-size: 0.9rem;
    font-weight: bold;
    
}
.list > ul > li:hover > .product-name {
    text-decoration: underline;
}
.list > ul > li > .product-price {
    text-align: center;
    font-weight: normal;
    font-size: 0.8rem;
}
.list > ul > li > .product-price {
    text-align: center;
    font-weight: normal;
    font-size: 0.7rem;
}
.list > ul > li > .product-week {
    text-align: center;
    font-weight: normal;
    font-size: 0.7rem;
}
.list > ul > li > .product-writer {
    text-align: center;
    font-weight: normal;
    font-size: 0.7rem;
}

.b-btn01.type01 ul{padding:30px 0 0 0;text-align:center; margin-left: 1405px;}
.b-btn01.type01 ul li{display:inline-block;margin:0 0 5px 4px;vertical-align:top;}
.b-btn01.type01 ul li a, .b-btn01.type01 ul li button{display:block;padding:8px 12px;border:1px solid rgba(0,0,0,0.3);font-size:14px;color:#333;}
.b-btn01.type01 ul li a.active, .b-btn01.type01 ul li button.active{background-color:#FF865B;color:#fff}
.b-btn01.type01 ul li a:hover, .b-btn01.type01 ul li button:hover{background-color:#FF865B;color:#fff}

.b-btn01 ul li button{background:none;cursor:pointer;}
.b-btn01 ul li .b-btn-c-gray{background-color:#ebebeb;border-color:#959595;color:#5c5c5c;}

/* .b-paging01 type01 */
.b-paging01.type01 .b-paging-wrap ul{padding:50px 0 0;text-align:center;}
.b-paging01.type01 .b-paging-wrap ul li{display:inline-block;margin:0 3px;vertical-align:middle;}
.b-paging01.type01 .b-paging-wrap ul li a{display:block;position:relative;border:1px solid #ccc;font-weight:300;font-size:16px;color:#7b7b7b;box-sizing:border-box;}
.b-paging01.type01 .b-paging-wrap ul li.first a{width:38px;height:35px;}

.b-paging01.type01 .b-paging-wrap ul li.prev a{width:33px;height:35px;}
.b-paging01.type01 .b-paging-wrap ul li.next a{width:33px;height:35px;}
.b-paging01.type01 .b-paging-wrap ul li.last a{width:38px;height:35px;}
.b-paging01.type01 .b-paging-wrap ul li:not(.pager) a{padding:4px 0 5px;min-width:33px;}
.b-paging01.type01 .b-paging-wrap ul li a:hover{background:#F8733F;color:#fff;}
.b-paging01.type01 .b-paging-wrap ul li a.active{padding:5px 0 6px;border:none;background:#F8733F;color:#fff;}


footer {padding: 80px 0 0; text-align: center; border-top: solid 0.5px #bbbbbb; }
footer .sns li {display: inline-block; margin-right: 30px;}
footer ul li{font-size: 10px; line-height: 1.4;}
footer ul li .copyright {font-size: 10px; font-weight: 100; color:#888; display: block; margin-top:20px; padding-bottom: 20px; }
header .open {display: none;}
header .close {display: none;}


@media screen and (max-width:1100px){
   


/*header*/
    header {height: 60px; line-height: 60px;padding:0 10px;}
    header .open {display: block; float: right;font-size: 32px; height: 60px; padding-top: 5px; box-sizing: border-box;}
    header .bg {width: 100%; height: 100vh; background: rgba(0,0,0,0.6); display: block; position: absolute; top:0; left: 0; z-index: 200; display: none;}
    header .logo {width:5.8%; margin: auto;}
    header nav{background: #fff; width: 0; height: 100vh; position: absolute; right: 0; top:0; overflow: hidden; transition: width 0.3s; z-index:300; }
    header nav.on {width: 70%; max-width: 300px; }
    header nav .close {display: block; position: absolute; right: 10px; top:0; font-size: 35px; padding-top: 5px; box-sizing: border-box;}
    header nav .gnb {margin-top: 100px;}
    header nav .gnb li {display: block; width: 100%; margin:0; line-height: 60px;}
    header nav .gnb li a {width: 100%; padding-left: 30px; box-sizing: border-box;font-size:20px; }
    header nav .gnb li a:after {display: none;}
    
/*body*/
body nav event2 a:hover {color:#F8733F;}
body .event1{font-size: 45px; margin-top: 230px; text-align: center;}
body .event2{margin-top: 46px;text-align: center; font-size: 16px;}
body .img1{width:90%; text-align:center; margin:0px auto;margin-top: 40px;}
body .img1 img{width:50%; height:auto;}
body .img2{width:90%; text-align:center; margin:0px auto;margin-top: 30px;}
body .img2 img{width:50%; height:auto;}
body .event4{margin: 0px auto; font-size: 14px;}
body .event5{margin: 0px auto; font-size: 14px;}
body .event6{margin: 0px auto; font-size: 14px;}
body .event7{margin: 0px auto; font-size: 14px;}


	/*top*/
	header .top {display: none;}
}

@media screen and (max-width:950px){

/*body*/
/*body*/
body nav event2 a:hover {color:#F8733F;}
body .event1{font-size: 45px; margin-top: 230px; text-align: center;}
body .event2{margin-top: 46px;text-align: center; font-size: 16px;}
body .img1{width:80%; text-align:center; margin:0px auto;margin-top: 40px;}
body .img1 img{width:65%; height:auto;}
body .img2{width:80%; text-align:center; margin:0px auto;margin-top: 30px;}
body .img2 img{width:65%; height:auto;}
body .event4{margin: 0px auto; font-size: 14px;}
body .event5{margin: 0px auto; font-size: 14px;}
body .event6{margin: 0px auto; font-size: 14px;}
body .event7{margin: 0px auto; font-size: 14px;}
body .button {display: none;}


    /*footer*/
    footer {padding-top: 50px;}
    footer .sns li:last-child {margin-right: 0;}
    footer .footerLogo {font-size: 28px; letter-spacing: -4px;}
    footer ul li {font-size:13px; }
    footer ul li .copyright {font-size: 13px; margin-top: 10px;} 
    footer .box {padding: 80px 0;}
    footer .box.motion h2{font-size: 17px;}  
	
header .top {display: none;}
}



@media screen and (max-width:750px){

/*body*/
body nav event2 a:hover {color:#F8733F;}
body .event1{font-size: 45px; margin-top: 230px; text-align: center;}
body .event2{margin-top: 46px;text-align: center; font-size: 16px;}
body .img1{width:80%; text-align:center; margin:0px auto;margin-top: 40px;}
body .img1 img{width:80%; height:auto;}
body .img2{width:80%; text-align:center; margin: 0px auto; margin-top: 30px;}
body .img2 img{width:80%; height:auto;}
body .event4{margin: 0px auto; font-size: 14px;}
body .event5{margin: 0px auto; font-size: 14px;}
body .event6{margin: 0px auto; font-size: 14px;}
body .event7{margin: 0px auto; font-size: 14px;}
body .button {display: none;}

header .top {display: none;}
}


@media screen and (	max-width:320px){


/*body*/
body nav event2 a:hover {color:#F8733F;}
body .event1{font-size: 45px; margin-top: 230px; text-align: center;}
body .event2{margin-top: 46px;text-align: center; font-size: 16px;}
body .img1{width:70%; text-align:center; margin:0px auto; float: left;}
body .img1 img{width:60%; height:auto;}
body .img2{width:70%; text-align:center; margin:0px auto;}
body .img2 img{width:60%; height:auto;}
body .event4{margin: 0px auto; font-size: 14px;}
body .event5{margin: 0px auto; font-size: 14px;}
body .event6{margin: 0px auto; font-size: 14px;}
body .event7{margin: 0px auto; font-size: 14px;}
body .button {display: none;}

    /*footer*/
    footer ul li {font-size: 10px;}
    footer .box  {padding: 50px 0;}
    footer .box.motion h2 {font-size: 14px;}  

header .top {display: none;}



}